@charset "UTF-8";

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.painel{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #eee;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    background-color: #ccc;
}

button:hover{
    border: 2px solid black;
}

.carro{
    background-color: #f00;
    /* width: 100px;
    height: 40px; */
    margin-top: 5px;
}