@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a2a0a0;
}

.container {
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    color: #0f0;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}

#botoes {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}

/* Adicionei estilos para a seção de parciais */
.parciais {
    margin-top: 20px;
    text-align: center;
}

.parciais h2 {
    color: #333;
}

.parciaisRegistradas {
    background-color: #555;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
}
