@charset "UTF-8";

html,
body {
    background-color: #f4f4f9;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    padding: 40px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    border-color: #555;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

.stock-info,
.price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 25px;
    padding: 25px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.stock-info:hover,
.price-info:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#themeBtn {
    position: fixed;
    top: 0;
    right: 25px;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #cccccc51;
    border-radius: 25px;
}

@media (max-width: 767px) {

    html,
    body {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
    }

    form {
        max-width: 90%;
        margin-bottom: 20px;
        padding: 20px;
        margin-top: 30px;
    }

    .stock-info,
    .price-info {
        margin: 0;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }
}