:root {
    --roxo-meia-noite: #69239E;
}

body{
    background-color: #eee;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--roxo-meia-noite);
    color: white;
    height: 34px;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 565px;
}

#logo img {
    width: 100px;
}

#configuracao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}