.menu_principal {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 250px;
   height: 100vh;
   position: absolute;
   top: 0px;
   left: 0;
}

.btn_menu_principal img {
    width: inherit;
}

.ocultar {
    left: -211px !important;
}

.menu_itens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #aaa;
    height: 100vh;
}

.btn_item_menu {
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 200px;
}

.btn_menu_principal {
    cursor: pointer;
}

