@charset "UTF-8";

*{
    border: none;
    margin: 10px 0px 0px 10px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
   position: absolute;
    background-color: #eee;
    width: 207px;
    height: auto;
    margin: auto;
    padding: 5px;
}

input{
    border: 3px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
   
}

button{
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #888;
    color: #fff;
    position: relative;
    left: 12%;
}